{#- Rendered into clusters/<cluster>/sites/<site>/generated/frr-config/frr.conf,
   one key of the "frr-config" ConfigMap. frr-config-sync.path/frr-reload.py
   inside the guest apply this live - no VM restart for tenant changes (see
   repo root README.md). -#}
frr version 8
frr defaults traditional
hostname {{ site.name }}-{{ cluster.name }}
log syslog informational
service integrated-vtysh-config
!
{% for tenant in tenants %}
{% if tenant.bfd is defined %}
bfd
 profile {{ tenant.name }}
  detect-multiplier {{ tenant.bfd.multiplier }}
  receive-interval {{ tenant.bfd.min_rx_ms }}
  transmit-interval {{ tenant.bfd.min_tx_ms }}
 !
!
{% endif %}
{% endfor %}
{% for tenant in tenants %}
! --- {{ tenant.name }} (VLAN {{ tenant.vlan_id }}, {{ tenant.vrf }}) ---
{% for pl in tenant.import_prefix_lists | default([]) %}
ip prefix-list PL-{{ tenant.name }}-IN seq {{ pl.seq }} {{ pl.action }} {{ pl.prefix }}{% if pl.le %} le {{ pl.le }}{% endif %}

{% endfor %}
{% for pl in tenant.export_prefix_lists | default([]) %}
ip prefix-list PL-{{ tenant.name }}-OUT seq {{ pl.seq }} {{ pl.action }} {{ pl.prefix }}{% if pl.le %} le {{ pl.le }}{% endif %}

{% endfor %}
router bgp {{ tenant.local_asn }} vrf {{ tenant.vrf }}
 bgp router-id {{ tenant.local_ip }}
{% if tenant.graceful_restart | default(true) %}
 bgp graceful-restart
{% endif %}
 neighbor {{ tenant.peer_ip }} remote-as {{ tenant.peer_asn }}
{% if tenant.bfd is defined %}
 neighbor {{ tenant.peer_ip }} bfd profile {{ tenant.name }}
{% endif %}
 !
 address-family ipv4 unicast
{% for net in tenant.advertised_networks %}
  network {{ net }}
{% endfor %}
{% for agg in tenant.aggregate_networks | default([]) %}
  aggregate-address {{ agg }} summary-only
{% endfor %}
{% if tenant.import_prefix_lists is defined %}
  neighbor {{ tenant.peer_ip }} prefix-list PL-{{ tenant.name }}-IN in
{% endif %}
{% if tenant.export_prefix_lists is defined %}
  neighbor {{ tenant.peer_ip }} prefix-list PL-{{ tenant.name }}-OUT out
{% endif %}
 exit-address-family
!
{% endfor %}
line vty
!
